[submodule "builder"]
	path = builder
	url = git@github.com:deis/builder.git
	branch = master
[submodule "postgres"]
	path = postgres
	url = git@github.com:deis/postgres.git
	branch = master
[submodule "minio"]
	path = minio
	url = git@github.com:deis/minio.git
	branch = master
[submodule "registry"]
	path = registry
	url = git@github.com:deis/registry.git
	branch = master
[submodule "router"]
	path = router
	url = git@github.com:deis/router.git
	branch = master
[submodule "controller"]
	path = controller
	url = git@github.com:deis/controller.git
	branch = master
[submodule "slugbuilder"]
	path = slugbuilder
	url = git@github.com:deis/slugbuilder.git
	branch = master
[submodule "slugrunner"]
	path = slugrunner
	url = git@github.com:deis/slugrunner.git
	branch = master
[submodule "dockerbuilder"]
	path = dockerbuilder
	url = git@github.com:deis/dockerbuilder.git
[submodule "workflow-manager"]
	path = workflow-manager
	url = git@github.com:deis/workflow-manager.git
[submodule "charts"]
	path = charts
	url = git@github.com:deis/charts.git
[submodule "workflow-e2e"]
	path = workflow-e2e
	url = https://github.com/deis/workflow-e2e.git
[submodule "logger"]
	path = logger
	url = https://github.com/deis/logger.git
[submodule "fluentd"]
	path = fluentd
	url = https://github.com/deis/fluentd.git
[submodule "workflow"]
	path = workflow
	url = git@github.com:deis/workflow.git
[submodule "monitor"]
	path = monitor
	url = git@github.com:deis/monitor.git
[submodule "stdout-metrics"]
	path = stdout-metrics
	url = git@github.com:deis/stdout-metrics.git
